#version={{ os_version }}

{% include ['files/override/header.j2', 'files/default/header.j2'] %}

# Use non-interactive install
text --non-interactive

# Select a specific disk to use for safety
ignoredisk --only-use={{ item.disk_path }}

# Clear out partition tables on disks
zerombr

# Clear partitions and initialise with a label
clearpart --all --initlabel

# Create EFI System Partition and /boot partition (RHEL 8 default sizes)
part /boot/efi --fstype=vfat --fsoptions='defaults,umask=0027,fmask=0077,uid=0,gid=0' --size=600 --ondisk={{ item.disk_path }}  # RHEL8 CIS 1.5.1
part /boot --fstype=xfs --fsoptions='nosuid,nodev' --size=1024 --ondisk={{ item.disk_path }}

{% if item.disk_encryption | default(false) %}
# Create LUKS encrypted partitions for swap and our main Btrfs volume
part swap --fstype=swap --size=8192 --encrypted --passphrase='{{ luks_password | string }}' --ondisk={{ item.disk_path }}
part btrfs.01 --size 1024 --grow --asprimary --encrypted --passphrase='{{ luks_password | string }}' --ondisk={{ item.disk_path }}
{% else %}
# Create unencrypted partitions for swap and our main Btrfs volume
# Although Fedora sets up Swap-on-ZRAM these days, it's not actually disk-backed
# and using just that approach would leave us without any option to page out anything
# to disk. The ZRAM swap is always treated as the highest priority, but we should
# have some that's actually disk-backed too, so we set some up here.
part swap --fstype=swap --size=8192 --ondisk={{ item.disk_path }}
part btrfs.01 --size 1024 --grow --asprimary --ondisk={{ item.disk_path }}
{% endif %}

# Create our main Btrfs volume
btrfs none --label=fedora_btrfs btrfs.01

# Create our Btrfs subvolumes
btrfs / --subvol --name=root fedora_btrfs
btrfs /home --subvol --name=home fedora_btrfs
btrfs /opt --subvol --name=opt fedora_btrfs
btrfs /tmp --subvol --name=tmp fedora_btrfs
btrfs /var --subvol --name=var fedora_btrfs
btrfs /var/log --subvol --name=logs fedora_btrfs
btrfs /var/log/audit --subvol --name=auditlogs fedora_btrfs
btrfs /var/tmp --subvol --name=vartmp fedora_btrfs
btrfs /var/lib/libvirt/images --subvol --name=vmimgs fedora_btrfs

# EFI GRUB with password configured in playbook
# We don't need to specify 'rhgb' or 'quiet' here like some others
# do online, as these will get added automatically if the Plymouth
# package is installed. We don't include them here since we have
# some vars which explicitly do not install the Plymouth package.
bootloader --location=mbr --append="{{ grub_flags | default('crashkernel=auto') }}" --iscrypted --password={{ grub_password | string }}

# Install from our selected repo
url --url='https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/'

# Specify our repos including the Fedora Updates repo so that we get the latest packages when installing
repo --name="fedora-updates" --baseurl='https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/updates/$releasever/Everything/$basearch/'
repo --name="fedora" --baseurl='https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/'
{% if item.rpmfusion_free | default(false) %}
repo --name=rpmfusion-free --baseurl='https://www.mirrorservice.org/sites/download1.rpmfusion.org/free/fedora/releases/$releasever/Everything/$basearch/os'
repo --name=rpmfusion-free-updates --baseurl='https://www.mirrorservice.org/sites/download1.rpmfusion.org/free/fedora/updates/$releasever/$basearch'
{% endif %}
{% if item.rpmfusion_nonfree | default(false) %}
repo --name=rpmfusion-non-free --baseurl='https://www.mirrorservice.org/sites/download1.rpmfusion.org/nonfree/fedora/releases/$releasever/Everything/$basearch/os'
repo --name=rpmfusion-non-free-updates --baseurl='https://www.mirrorservice.org/sites/download1.rpmfusion.org/nonfree/fedora/updates/$releasever/$basearch'
{% endif %}

# Don't run the Setup Agent on first boot
firstboot --disable

# Locale
keyboard --xlayouts='gb'
lang en_GB.UTF-8

# Network information
{% if item.network_type is defined and item.network_type == 'static' %}
network --device={{ item.network_interface | default('link') }} --hostname={{ item.hostname | default('fedora') }} --bootproto=static --onboot=true --ip={{ item.network_ip }} --netmask={{ item.network_netmask }} --gateway={{ item.network_gateway }} --nameserver={{ item.network_dns }}
{% elif item.network_type is defined and item.network_type == 'dhcp' %}
network --device={{ item.network_interface | default('link') }} --hostname={{ item.hostname | default('fedora') }} --bootproto=dhcp --onboot=true
{% else %}
# Network type 'none' selected in Kickstart-generation playbook. Please use 'dhcp' or 'static' to configure a network interface.
network --hostname={{ item.hostname | default('fedora') }}
{% endif %}

# Enable firewalld and allow incoming SSH
firewall --enabled --ssh

# Make sure SELinux is enforcing
selinux --enforcing

# Timezone & NTP
timezone {{ item.timezone | default('Etc/UTC') }} --utc
{% if item.ntp_servers is defined %}
timesource --ntp-server={{ item.ntp_server }}
{% else %}
timesource --ntp-server=time.cloudflare.com --nts
timesource --ntp-server=nts.sth1.ntp.se --nts
timesource --ntp-server=nts.sth2.ntp.se --nts
{% endif %}

# Lock the root account
rootpw --lock

# Create user accounts (imported from create_users.j2)
### START create_users.j2 INCLUDE FILE HERE ###

{% include ['files/override/create_users.j2', 'files/default/create_users.j2'] %}


### END create_users.j2 INCLUDE FILE HERE ###

{% if item.ospp_hardening | default(false) %}
# Harden installation with OSPP profile
%addon org_fedora_oscap
        content-type = datastream
        content-url = https://alexhaydock.gitlab.io/ssg-fedora-ds.xml
        profile = xccdf_org.ssgproject.content_profile_ospp
%end
{% endif %}

{% if item.workstation_deployment | default(false) %}
# (INFO: The 'workstation_deployment' variable was set to 'true', which requires a graphical interface. Not enabling 'skipx').
{% else %}
# Do not install a graphical environment
skipx
{% endif %}

# Disable services (We can't use multiple invocations of the "services --disabled" line in a F35 Kickstart it seems)
# - Automatic Bug Reporting Tool (abrt*.service)
# - Scheduled mlocate database updates (mlocate-updatedb.service, mlocate-updatedb.timer)
services --disabled="abrtd.service,abrt-journal-core.service,abrt-oops.service,abrt-pstoreoops.service,abrt-vmcore.service,abrt-xorg.service,mlocate-updatedb.service,mlocate-updatedb.timer"

# Enable services (We can't use multiple invocations of the "services --enabled" line in a F35 Kickstart it seems)
# - SSH server
# - RNGD
{% if item.ospp_hardening | default(false) %}
services --enabled="rngd.service,sshd.service"
{% else %}
# - DNF Automatic (since OSPP hardening is not enabling it for us)
services --enabled="dnf-automatic.timer,rngd.service,sshd.service"
{% endif %}

{% if item.workstation_deployment | default(false) %}
# Install Fedora Workstation package group
%packages
@^workstation-product-environment

%end
{% else %}
# Install Fedora Minimal package group and disable Plymouth
%packages
@^minimal-environment
-plymouth

%end
{% endif %}

# Install standard package set for all systems
%packages
audit
below
conntrack-tools
curl
dnf-automatic
dnf-utils
git
htop
iperf3
lsof
nano
perf
powerline
python3-pexpect
rng-tools
rsync
sos
sysstat
systemd-container
tcpdump
wget
wireguard-tools

%end

{% if item.workstation_deployment | default(false) %}
{% if item.enable_devtools | default(false) %}
%packages
# Install development packages (Workstation only)
ansible
dconf-editor
gcc
icedtea-web
kernel-devel
kernel-headers
make
python3-psutil
rubygem-rexml
scap-workbench
sshpass
wireshark

%end
{% endif %}
{% endif %}

{% if item.enable_kdump | default(false) %}
# Install kexec-tools for kdump
%packages
kexec-tools

%end
{% endif %}

{% if item.workstation_deployment | default(false) %}
{% if item.enable_vagrant | default(false) %}
# Install Vagrant
# See: https://fedoramagazine.org/vagrant-qemukvm-fedora-devops-sysadmin/
%packages
libguestfs-tools
libvirt
qemu-kvm
rubygem-rexml
vagrant
vagrant-libvirt
virt-install

%end
{% endif %}
{% endif %}

{% if item.container_engine is defined %}
{% if item.container_engine == "podman" %}
# Install Podman
%packages
@container-management
toolbox

%end
{% elif item.container_engine == "docker" %}
# Install Docker
%packages
docker-compose
moby-engine

%end
{% endif %}
{% endif %}

{% if item.enable_bpftools | default(false) %}
# Install bcc-tools and bpftrace
%packages
bcc-tools
bpftrace

%end
{% endif %}

{% if item.enable_cockpit | default(false) %}
# Install Cockpit and relevant plugins
%packages
cockpit
cockpit-kdump
cockpit-machines
cockpit-podman
cockpit-selinux
cockpit-sosreport

%end
{% endif %}

{% if item.rpmfusion_free | default(false) %}
# If we enabled the RPMFusion Free repo dynamically during install, use it to install the RPMFusion release package
%packages
rpmfusion-free-release

%end
{% endif %}

{% if item.rpmfusion_nonfree | default(false) %}
# If we enabled the RPMFusion Non-Free repo dynamically during install, use it to install the RPMFusion release package
%packages
rpmfusion-nonfree-release

%end
{% endif %}

{% if item.enable_snapd | default(false) %}
# Install snapd
%packages
snapd

%end
{% endif %}

##################### START CHROOTED POSTINSTALL SCRIPT #####################
%post --logfile=/root/anaconda-post.log --erroronfail
### START postinstall.sh.j2 INCLUDE FILE HERE ###

{% include ['files/override/postinstall.sh.j2', 'files/default/postinstall.sh.j2'] %}


### END postinstall.sh.j2 INCLUDE FILE HERE ###
%end
###################### END POSTINSTALL SCRIPT ######################

# Reboot when done unless this is a Packer run
{% if item.poweroff | default(false) %}
poweroff
{% else %}
reboot --eject
{% endif %}
