# Please do not forget to add corresponding entries to the 'configure_users.j2' file for each user included here
user --name=user --password="{{ user_password | string | password_hash('sha512') }}" --iscrypted --gecos="user" --groups=wheel,localssh --uid 9001