{% for item in packer_builds %}
source "qemu" "Fedora_{{ item.name }}" {
  accelerator      = "kvm"
  cd_files         = ["../.ks/Fedora_{{ item.name }}_{{ ks_version }}/ks.cfg"]
  cd_label         = "OEMDRV"
  cpus             = 2
  disk_interface   = "virtio-scsi"
  disk_size        = "{{ packer_disk_gb * 1024 | default('65536') }}M"
  format           = "qcow2"
  headless         = true
  iso_checksum     = "{{ packer_iso_sha256 }}"
  iso_url          = "{{ packer_iso_source }}"
  memory           = 4096
  output_directory = "VM_Fedora_{{ item.name }}_{{ ks_version }}"
  vm_name          = "Fedora_{{ item.name }}_{{ ks_version }}.qcow2"

  // This is how we define the system as one which we will not
  // connect to as part of the Packer run. Our Kickstart install
  // needs to use a shutdown command in this case, but it allows
  // us a lot of flexibility.
  //
  communicator     = "none"
  shutdown_timeout = "30m"

{% if ansible_distribution == "RedHat" %}
  // On RHEL 8 systems, we need to tell Packer where to look for
  // the qemu-kvm binary.
  //
  // See: https://github.com/hashicorp/packer/issues/10892#issuecomment-816399596
  //
  qemu_binary = "{{ qemu_binary }}"
{% endif %}
}

{% endfor %}

build {
  sources = [
{% for item in packer_builds %}
    "source.qemu.Fedora_{{ item.name }}",
{% endfor %}
  ]
}
