// Without a properly configured set of variables, this config
// should be considered an example as it will not be functional.
variable "datacenter_name" {
  type = string
  default = "datacenter"
}

variable "datastore_name" {
  type = string
  default = "vm_datastore_name"
}

variable "iso_paths" {
  type = list(string)
  default = [
    "[iso_datastore_name] ISOs/rhel-8.4-x86_64-dvd.iso",
  ]
}

variable "network_name" {
  type = string
  default = "VM Network"
}

variable "vcenter_endpoint" {
  type = string
  default = "vm.localhost"
}

variable "vcenter_host" {
  type = string
  default = "vcenter.localdomain"
}

variable "vcenter_password" {
  type = string
  default = "greatpassword"
}

variable "vcenter_user" {
  type = string
  default = "user"
}

{% for item in packer_builds %}
source "vsphere-iso" "Fedora_{{ item.name }}" {
  // Use our variables to configure the connection to vSphere
  datacenter     = var.datacenter_name
  datastore      = var.datastore_name
  host           = var.vcenter_host
  password       = var.vcenter_password
  username       = var.vcenter_user
  vcenter_server = var.vcenter_endpoint

  // Use other vars to configure the connection to the built VM
  // and the location of the ISO to be booted
  iso_paths    = var.iso_paths

  // Configure VM
  cd_files             = ["../.ks/Fedora_{{ item.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  CPUs                 = 2
  disk_controller_type = ["scsi"]
  firmware             = "efi-secure"
  guest_os_type        = "fedora_64Guest"
  insecure_connection  = true
  RAM                  = 4096
  RAM_reserve_all      = false
  remove_cdrom         = true
  vm_name              = "Fedora_{{ item.name }}_{{ ks_version }}"
  vm_version           = "{{ vmware_vhw_ver }}"
  network_adapters {
    network      = var.network_name
    network_card = "vmxnet3"
  }
  storage {
    disk_size             = {{ packer_disk_gb * 1024 | default('65536') }}
    disk_thin_provisioned = true
  }

  // This is how we define the system as one which we will not
  // connect to as part of the Packer run. Our Kickstart install
  // needs to use a shutdown command in this case, but it allows
  // us a lot of flexibility.
  //
  communicator     = "none"
  shutdown_timeout = "30m"

  // Configure export settings (optional)
  // export {
  //   force            = true
  //   output_directory = "VM_Fedora_{{ item.name }}_{{ ks_version }}"
  // }
}

{% endfor %}

build {
  sources = [
{% for item in packer_builds %}
    "source.vsphere-iso.Fedora_{{ item.name }}",
{% endfor %}
  ]
}
