{% for item in packer_builds %}
source "vmware-iso" "Fedora_{{ item.name }}" {
  cd_files             = ["../.ks/Fedora_{{ item.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "fedora-64"
  iso_checksum         = "{{ packer_iso_sha256 }}"
  iso_url              = "{{ packer_iso_source }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_Fedora_{{ item.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver }}"
  vm_name              = "Fedora_{{ item.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "mks.enable3d"            = "TRUE"
    // TODO: Make this value a configurable variable
    "svga.graphicsMemoryKB"   = "2097152"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // General build options
  disable_vnc      = true
  shutdown_timeout = "30m"

  {% if item.poweroff | default(false) %}
  // Do not use a communicator if our Kickstart is configured to power the VM off at the end of the install run
  communicator = "none"
  {% else %}
  // Use SSH as the communicator if our Kickstart is not configured to power the VM off at the end of the install run
  communicator     = "ssh"
  shutdown_command = "sleep 60 && echo '{{ user_password | default('user_password not set') }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  ssh_password     = "{{ user_password | default('user_password not set') }}"
  ssh_timeout      = "30m"
  ssh_username     = "user"
  {% endif %}
}

{% endfor %}

build {
  sources = [
{% for item in packer_builds %}
    "source.vmware-iso.Fedora_{{ item.name }}",
{% endfor %}
  ]

  {% if item.remove_machine_id | default(false) %}
  // Remove the /etc/machine-id file if configured in our config to do so.
  // This is normally done within the Kickstart file, but if we let the machine
  // boot to use an SSH-based provisioner, it will have regenerated a new one
  // during first boot.
  //
  // We touch the file to make sure that the system does not treat subsequent
  // boots post-OVA-deployment as the 'first boot', as they won't be one.
  // (In particular this causes Fedora 34 to hang with a black screen).
  //
  provisioner "shell" {
    inline = [
      "echo '{{ user_password | default('user_password not set') }}' | sudo -S rm -fv /etc/machine-id",
      "echo '{{ user_password | default('user_password not set') }}' | sudo -S touch /etc/machine-id"
    ]
  }
  {% endif %}
}
