set -eux

echo 'Hello, Kickstart!'

# Configure Kent University's fast HTTPS mirrors
# (We need to disable the metalinks as 3 different commands as a simple fedora*.repo glob
# breaks the fedora-cisco-openh264 repo as it is hosted elsewhere and does need the metalink).
sed -i 's;^metalink=;#metalink=;g' /etc/yum.repos.d/fedora.repo
sed -i 's;^metalink=;#metalink=;g' /etc/yum.repos.d/fedora-modular.repo
sed -i 's;^metalink=;#metalink=;g' /etc/yum.repos.d/fedora-updates*.repo
sed -i 's;^#baseurl=http://download.example/pub/fedora/;baseurl=https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/;g' /etc/yum.repos.d/fedora*.repo

# Enable Powerline bash prompt for all users
cat <<"EOF" > /etc/bashrc

# Enable Powerline bash prompt for all users
if [ -f `which powerline-daemon` ]; then
  powerline-daemon -q
  POWERLINE_BASH_CONTINUATION=1
  POWERLINE_BASH_SELECT=1
  . /usr/share/powerline/bash/powerline.sh
fi
EOF

{% if item.ospp_hardening is undefined %}
# Configure automatic updates to install security updates
# Relies on the 'services' module above, which enables dnf-automatic.timer
#
# If we're deploying a OSPP hardened system, this section does not get applied in
# favour of applying this via OpenSCAP (it gets enabled by the) tailoring file.
sed -i 's/^upgrade_type.*/upgrade_type = security/g' /etc/dnf/automatic.conf
sed -i 's/^download_updates.*/download_updates = yes/g' /etc/dnf/automatic.conf
sed -i 's/^apply_updates.*/apply_updates = yes/g' /etc/dnf/automatic.conf
{% endif %}

{% if item.workstation_deployment | default(false) %}
# Make sure the default systemd target is a graphical environment
# (does not seem to do this automatically, at least on RHEL 8.3)
rm -fv /etc/systemd/system/default.target
ln -sfv /usr/lib/systemd/system/graphical.target /etc/systemd/system/default.target
{% endif %}

{% if item.workstation_deployment | default(false) %}
# If we're installing a Workstation, pre-configure the Flathub remote for Flatpak
#
# It's worth noting that recent versions of Fedora install a package called
# `fedora-flathub-remote` as a "filtered" version of the Flatpak repo. Currently
# the "Fedora Approved" packages in the filter are not very expansive, however, so
# we override it manually here with the unfiltered version of the repo for now.
# But I might remove this in future.
#
# N.B. The `fedora-flathub-remote` package is a dep of the `fedora-release-workstation`
#      package, but I install it manually for Workstation deployments just to make sure.
#
# These commands take the Flathub repo, remove the line that enables the Fedora filter
# and then import the unfiltered version into Flatpak.
#
awk '!/Filter=/' /usr/lib/fedora-third-party/conf.d/fedora-flathub.flatpakrepo > /tmp/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub /tmp/flathub.flatpakrepo
{% endif %}

{% if item.enable_snapd | default(false) %}
# If we install snapd in the %packages section above, create
# the required symlink to allow classic snaps to work.
ln -s /var/lib/snapd/snap /snap
{% endif %}

{% if item.remove_machine_id | default(false) %}
# Remove machine-id on pre generated images (Packer)
#
# See why we set the 'uninitialized' value here:
# https://www.freedesktop.org/software/systemd/man/machine-id.html
#
# Please note that we *only* set 'uninitialized' here since
# the first boot after a Kickstart run is actually a true
# "first boot". If we had done a successful boot already, we
# would remove the file and then touch it to recreate is as
# blank, as we do when we have a Packer config which uses a
# provisioning step after the Kickstart has finished and the
# VM has booted for the first time.
#
rm -fv /etc/machine-id
echo 'uninitialized' > /etc/machine-id
{% endif %}

# Configure the hostcritical.slice for critical service accounting and
# add the SSH daemon and systemd-oomd to the slice.
mkdir -p /etc/systemd/system/sshd.service.d
cat <<"EOF" > /etc/systemd/system/sshd.service.d/00-slice.conf
[Service]
Slice=hostcritical.slice
MemoryMin=64M
MemoryLow=64M
EOF
chown root:root /etc/systemd/system/sshd.service.d/00-slice.conf
chmod 0640 /etc/systemd/system/sshd.service.d/00-slice.conf

mkdir -p /etc/systemd/system/systemd-oomd.service.d
cat <<"EOF" > /etc/systemd/system/systemd-oomd.service.d/00-slice.conf
[Service]
Slice=hostcritical.slice
EOF
chown root:root /etc/systemd/system/systemd-oomd.service.d/00-slice.conf
chmod 0640 /etc/systemd/system/systemd-oomd.service.d/00-slice.conf

mkdir -p /etc/systemd/system.control/hostcritical.slice.d
cat <<"EOF" > /etc/systemd/system.control/hostcritical.slice.d/00-MemoryLow.conf
[Slice]
MemoryMin=128M
MemoryLow=128M
EOF
chown root:root /etc/systemd/system.control/hostcritical.slice.d/00-MemoryLow.conf
chmod 0640 /etc/systemd/system.control/hostcritical.slice.d/00-MemoryLow.conf

{% if item.enable_zfs | default(false) %}
# Enable ZFS repository if we selected ZFS
#
# This does not require a functional internet connection during install as we
# do not actually install the ZFS package as part of the Kickstart run. We just
# enable the repository ready for the installation to run on the installed system.
#
# After installation, this can be done with:
#   sudo dnf install zfs

# /etc/yum.repos.d/zfs.repo
cat <<"EOF" > /etc/yum.repos.d/zfs.repo
{% include ['files/override/zfs.repo.j2', 'files/default/zfs.repo.j2'] %}

EOF
chown root:root /etc/yum.repos.d/zfs.repo
chmod 0644 /etc/yum.repos.d/zfs.repo

# /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
cat <<"EOF" > /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
{% include ['files/override/RPM-GPG-KEY-zfsonlinux', 'files/default/RPM-GPG-KEY-zfsonlinux'] %}

EOF
chown root:root /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
chmod 0644 /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

{% endif %}

# Write out the version of the Kickstart that ran to /root/ks_ver_deployed
# so we can read it in later with Ansible etc and use it for remediation/updates
# of systems which we know were deployed with earlier versions of this Kickstart:
echo '{{ ks_version }}' > /root/ks_ver_deployed
